<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" value="{{this.fname}}" name="fname" id="fname" placeholder="name@example.com">
        <label for="fname">First Name</label>
    </div>
    </div>
    <div class="col-6">
    <div class="form-floating">
        <input type="text" class="form-control" value="{{this.lname}}" name="lname" id="lname" placeholder="Password">
        <label for="lname">Last Name</label>
    </div>
    </div>
    <div class="col-6">
    <div class="form-floating">
        <input type="email" class="form-control" value="{{this.email}}" name="email" id="email" placeholder="Email">
        <label for="email">Email ID</label>
    </div>
    </div>
    <div class="col-6">
    <div class="form-floating">
        <input type="text" class="form-control" value="{{this.phone}}" name="phone" id="phone" placeholder="Password">
        <label for="phone">Phone Number</label>
    </div>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" value="{{this.comments}}" name="comments" id="comments" placeholder="Comments">
        <label for="phone">Comments</label>
    </div>
    <input type="hidden" name="id" value="{{this.id}}">
    <div class="col-12 d-grid"><button class="btn btn-primary" type="submit">Submit</button></div>